/*reponsiveness*/


@media only screen and (max-width: 599px) {

    /* mobile menu */
    .header-navbar .navbar-header .navbar-brand {
        position: absolute;
        top: 0;
        left: 10px;
        padding-top: 0.6rem;
        transform: translate(0);
    }
    .mb-btn-wrapper{
        width: 100%;
    }
    .header-navbar .navbar-header .menu-toggle {
        position: relative;
        top: 58%;
    }

    .menu-title {
        color: white;
    }

    .lock-form input.form-control, .lock-form select.form-control {
        color: #606060;
        font-size: .9rem;
        padding-left: 0rem;
    }

    .ad-container .ad-placeholder {
        width: 12rem;
        padding: 10px;
        font-size: .8rem;
        min-height: 23rem;
        background-color: white;
        text-align: center;
        border-radius: .8rem;
        margin-bottom: 2rem;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    .ad-container .ad-desc-placeholder{
        margin-bottom: 0;
    }
    .btn-custom-blue{
        width:5rem;
    }

    .ad-container-modal .modal-content{
        padding-top:2rem;
        background-color: white;
        background-image: none;
        border-radius: 1rem;
    }
    /*whatsapp section*/
    .whatsapp .btn-whatsapp{

        padding: 1.5rem 2rem;
    }
    /*bank card */
    .bank-card {
        border-radius: 1rem;
        min-height: 150px;
        width: 90%;
        margin: 1rem auto !important;
        padding: .4rem .5rem;
        box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.1);
        transition: all .5s ease;
    }

    .header-navbar .navbar-header .navbar-brand .brand-logo {
        width: 44%;
    }

    .loading {
        position: fixed;
        display: block;
        z-index: 9999999;
        height: 5rem;
        width: 5rem;
        margin: auto;
        background-color: transparent;
        top: 50%;
        left: 29%;
        transform: translate(-50%, -50%);
        border: 1rem solid;
        border-color: rgba(0, 32, 107, 0.75) transparent transparent transparent;
        border-radius: 50%;
        animation: spinner infinite 1s;
    }

    .mb-details-container, .mb-btn-wrapper {
        width: 100%;
    }

    .dash-card-img{
        width: 30%;
    }
    .dash-btn{
        padding: 5px 10px;
        font-size: 12px;
        line-height: 2em;
    }
    .dash-action h5{
        font-size: 12px;
    }
    .dash-ads .dash-action a{
        font-size: 8px;
    }
    .dash-action {
        width: 100px;
    }
    .right-action{
        left:40%;
    }

    .error-section .error-header{
        font-size: 2rem;
    }
    .error-section .error-btn{
            /*padding: .5rem 1.5rem;*/
            font-size: 1rem;
        }

}


@media only screen and (min-width: 600px) and (max-width: 899px) {

    .blue-round-btn {
        padding: 0px;
    }

    .login-background {
        background-image: none;
    }

    .secure-section {
        position: absolute;
        bottom: 2%;
        left: 5%;
        vertical-align: middle;
        font-size: 1.3rem;
        font-family: "Circular Std", 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    .secure-section img {
        width: 2rem;
    }

    html body .content.app-content{
        margin-left: 24%;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    html body .content.app-content{
        margin-left: 18%;
        background-color: #F7FBFF;
    }
    /*.mb-btn-wrapper button {*/
    /*    padding: 1rem 2rem 1rem 3rem;*/
    /*    font-size: .7rem;*/
    /*    margin-bottom: 1rem;*/
    /*    border-radius: 5rem;*/
    /*    transform: translate(0);*/
    /*    cursor: pointer;*/
    /*    transition: all .5s ease;*/
    /*}*/

    /*.mb-details-container p{*/
    /*    font-size: .8rem;*/
    /*}*/
    /*.blue-card .card-body{*/
    /*    padding:0rem;*/
    /*}*/
    /*.blue-card-heading {*/
    /*    font-size: 1rem;*/
    /*    margin-bottom: 2rem;*/
    /*}*/
    /*.blue-card-icon {*/
    /*    width: 2.5rem;*/
    /*}*/
    /*.blue-card-price {*/
    /*    font-size: 1.1rem;*/
    /*}*/
    /*.secure-section {*/
    /*    position: absolute;*/
    /*    bottom: 2%;*/
    /*    left: 3%;*/
    /*    vertical-align: middle;*/
    /*    font-size: 1.3rem;*/
    /*    font-family: "Circular Std", 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*}*/
    /*.btn-blue-gradient-2 img {*/
    /*    position: absolute;*/
    /*    top: .5rem;*/
    /*    left: .5rem;*/
    /*}*/
    .welcome-text {
        color: #103366;
        font-family: "Gilroy Bold", 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        letter-spacing: 0px;
        font-size: 2.5rem;
        position: absolute;
        top: 7%;
        left: 8%;
    }

    .login-background {
        background-image: none;
    }

    .secure-section {
        position: absolute;
        bottom: 2%;
        left: 8%;
        vertical-align: middle;
        font-size: 1.3rem;
        font-family: "Circular Std", 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

}


@media only screen and (min-width: 900px) and (max-width: 1200px) {

    .content {
        margin-left: 18%;
    }

    html body .content .content-wrapper{
        padding-top: 0rem;
    }

    .mb-btn-wrapper button {
        padding: 1rem 1rem 1rem 2.5rem;
        font-size: 1rem;
        margin-bottom: 1rem;
        border-radius: 5rem;
        transform: translate(0);
        cursor: pointer;
        transition: all .5s ease;
    }
    .btn-blue-gradient-2 img {
        position: absolute;
        top: 0.7rem;
        left: .4rem;
    }
    .blue-card-heading {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1300px) {

    .saved-text {
        width: 80%;
    }

    .active-text {
        width: 100%;
    }

    html body .content.app-content{
        margin-left: 18%;
        background-color: #F7FBFF;
    }

    html body .content .content-wrapper{
        padding-top: 0rem;

    }
}
