@font-face {
    font-family: "Gilroy Bold";
    src: url("../fonts/gilroy-extrabold.otf");
}

@font-face {
    font-family: "Product Sans";
    src: url("../fonts/Product Sans Regular.ttf");
}
@font-face {
    font-family: "Product Sans Medium";
    src: url("../fonts/Product Sans Regular.ttf");
}

body {
    font-family: "Product Sans", "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    font-size: 1.2rem;
    display: none;
}

/*rotate*/
.rotate-right{
    transform: rotate(90deg);
}
section {
    min-height: 400px;
    /*padding-top: 8rem;*/
    /*padding-bottom: 8rem;*/
}
height-100vh{
    height: 100vh;
   }

.header-background {
    background-image: url("../images/svg/header-background.svg");
    background-size: cover;
}

.home-nav .navbar-nav .nav-link{
    color: #757272;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-right: 3.5rem;
    transition: .5s ease-in-out;
}


.btn-custom-border {
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*.btn-dark-blue {*/
/*    background: #103366;*/
/*    color: white;*/
/*    font-size: 1.2rem;*/
/*    transition: all .3s ease-in-out;*/
/*}*/
.btn-hover-shadow{
    box-shadow: none;
    transform: translateY(0);
    transition: .5s ease-in-out;
}
.btn-hover-shadow:hover{
    box-shadow: 3px 5px 5px rgba(54, 125, 255, 0.2);
    transform: translateY(-5px);
}
.btn-dark-blue:hover {
    color: white;
}

.navbar {
    background: transparent;
}

.navbar .navbar-nav {
    background: transparent;
}

.section-details-header {
    color: #0A3560 ;
    font-size: 2rem;
}

.section-details-paragraph {
    color: #9B9B9B ;
    font-size: 1.1rem;
    line-height: 2.3rem;
}

.section-header p {
    color: #0A3560;
    font-size: 1.5rem;
    font-weight: bold;

}

.section-header span {
    color: #686868;
    font-size: 1.2rem;
}
.deep-drown{
    color: #686868;
}
.section-header {
    text-align: center;
    padding: 1.5rem 0;
}

.btn-rounded-corner {
    border-radius: 2rem;
    padding: 1rem 2rem ;
    text-decoration: none;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
    border: 0px;
}

.start-now .btn-light-blue {
    background-color: #367BFF;
    color: white;
    transition: all .3s ease;
}

.start-now .btn-light-blue:hover {
    background-color: #316ee3;
    color: white;
}

.btn-rounded-blue {
    padding: 1rem 2rem ;
    color: white;
    border-radius: 2rem;
    transition: all .5s ease;
}

.contact-detail-placeholder .deep-blue-color{
    color:#0A3560;
}
.contact-detail-placeholder .chat-whatsapp-img{
    width: 500px;
    height: auto;
}
.deep-blue-color{
    color:#0A3560;
}
#hideAll{
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 99; /* Higher than anything else in the document */

}
.btn-gradient-blue {
    background: rgb(54,123,255);
    background: linear-gradient(90deg, rgba(54,123,255,1) 0%, rgba(0,80,147,1) 100%);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
    color: white;
    transform: translateY(0);
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
}
.btn-white-shadow{
    background-color: white;
    color: #5E5E5E;
}

.cta-link{
    transform: translateY(0);
    transition: .5s ease-in-out;
}
.cta-link{
    transform: translateY(-10px);
}

.btn-gradient-blue:hover {
    text-decoration: none;
    color: white;
    transform: translateY(-5px);
}

.cta-link {
    list-style-type: none;
    padding-left: 0px;
    margin: 2px 0px 0px 0px;
}

.cta-link li {
    display: inline-block;
}

.btn-dark-blue {
    color: white;
    background: #103366;
    transition: .5s ease-in-out;
}

.header-background {
    position: relative;
}

/*.header-title {*/
/*    margin-top: 5rem !important;*/
/*    font-family: Gilroy bold;*/
/*    font-size: 3rem;*/
/*    color: #103366;*/
/*}*/

.header-img {
    position: absolute;
    top: 0%;
    right: 25%;
    margin-top: 10%;
    width: 25%;
}
.yellow-icon-2{
    width: 3rem;
}
.yellow-gradient {
    background: rgb(255,218,13);
    background: linear-gradient(90deg, rgba(255,254,250,1) 0%, rgba(255,218,13,0.1) 50%, rgba(255,254,250,1) 100%);
    position: relative;
}
.yellow-svg {
    position: absolute;
    bottom: 14rem;
    width: 84rem;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
}
.deep-blue-bg-drop{
    background: rgb(10,53,96);
    background: linear-gradient(90deg, rgba(10,53,96,1) 0%, rgba(0,54,147,1) 100%);
}
.light-yellow-backdrop{
    background-color: rgba(255,253,201,0.14);
}
.step-img{
    width:80%;
}
.rounded-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);}

.card-container .card {
    padding: 2rem 2rem;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
    border-radius: 1rem;
    height: 400px;
    border: 0px;
    width: 90%;
    margin: 0 auto;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
    background: rgb(0,80,147);
    background: linear-gradient(90deg, rgba(0,80,147,1) 0%, rgba(0,80,147,1) 100%);
}

.partner-img {
    width: 70%;
}

.partner-img-50 {
    width: 30%;
    margin-bottom: 3rem;
}

.call-action-section {
    height: 300px;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/call-to-act-bg@2x.png");
    background-size: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    color: white;
}

.btn-yellow-outline {
    border: 1px solid #FFDE17;
    color: white;
}

.btn-yellow-outline:hover {
    border: 1px solid #FFEEA6;
    color: #323131;
    background: #FFEEA6;
}

.btn-yellow {
    background-color: #FFEEA6;
    color: #5E5E5E;
}

.contact-detail-placeholder p {
    color: #767676;
}

.chat-bg {
    background-image: url("../images/svg/whatsapp-bg.svg");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: -15% center;
}

.footer-icon-list {
    list-style-type: none;
}

.footer-icon-list i {
    margin-right: 5px;
}

.footer-icon-list li {
    display: inline;
    margin-right: 1rem;
    color: #323268;
}

.footer-list {
    list-style-type: none;
    padding-left: 1rem;
}

.footer-list li a {
    color: #636363;
    text-decoration: none;
    font-size: 1rem;
}

.footer-list li a:hover {
    color: #4e4e4e;
}

.footer-sub-text {
    font-size: .8rem;
    color: #636363;
}

.light-yellow-bg {
    background: #FFFDC9;
}

.footer {
    min-height: 300px ;
    padding-top: 5rem;
}

.footer-icon-list {
    padding-left: 0px;
}

.carousel-btn {
    background: #367BFF;
    padding: 2px 5px;
    box-shadow: 5px 5px 5px rgba(54, 123, 255, 0.58);
    border-radius: 10px;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 30%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    color: #fff;
    text-align: center;
    transition: opacity .15s ease;
    opacity: 1;
    border-radius: 3rem;
}
.hide-nav .owl-controls {
    display: none;
}
/*.comment-box img {*/
/*    position: absolute;*/
/*    top:0;*/
/*    left:0;*/
/*    width:30px;*/
/*    height:30px;*/
/*    border-radius: 50%;*/
/*}*/
.comment-box p {
    color: #9B9B9B;
    font-size: 1rem;
}

.section-transparent-card {
    display: flex;
    width: 100%;
    align-items: flex-start;
}

.section-transparent-card-icon {
    display: flex;
    max-width: 120px;
    width: 100%;
    box-sizing: content-box;
    justify-content: center;
}

.section-transparent-card-right {
    width: 70%;
    display: inline-block;
}

.security-info-wrapper h2{
    font-size: 1.5rem;
    font-weight: bold;
}
.security-info-wrapper h6{
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #cccccc;
    letter-spacing: .05rem;

}

.security-img-wrapper{

}
.security-img-wrapper img{
    width: 100%;
}

.section-transparent-card-right p {
    font-size: 1rem;
    color: #9B9B9B;
}

.nav-link {
    color: #8A8A8A;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-right: 3.5rem;
    transition: .5s ease-in-out;
}

.card-text {
    font-size: 1.3rem;
    padding: 0rem 2rem;
    color: #323268;
    font-weight: normal;
    line-height: 1.6rem;
}

.header-sub-title {
    color: #7F7F7F;
    margin-bottom: 0rem;
    font-size: 1.3rem;
}

.minimize-menu {
    display: none;
}

.carousel-item {
    width: 100%;
}

.comment-box {
    width: 60%;
    position: relative;
    margin: 5rem auto;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    background: white;
    padding: 5rem 5rem 4rem 5rem;
    border-radius: 3rem;
    z-index: 10000;
}



.comment-box .thumbnail {
    top: 0;
    left: 0;
    margin-left: -40px;
    position: absolute;
    box-shadow: 10px -10px 0px #FFFDC9;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.partner-img-container{
    margin: 0rem 3rem;
}
.partner-img-container img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #367BFF;
}
.comment-box .comment {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 13%;
}

.carousel {
    width: 100%;
}

.client-say-section {
    min-height: 500px;
}

.btn-box-shadow {
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2) ;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1.3rem;
}

.btn-padding{
    padding-right: 4rem;
    padding-left: 4rem;
}
/*@media (min-width: 1400px) {*/
/*    .header-img{*/
/*        width: 70%;*/
/*    }*/
/*}*/
.comment-name {
    margin-bottom: 0rem;
}

.comment-box h4 {
    margin-bottom: 0rem;
    margin-top: 3rem;
    color: #323268;
}

.comment-box span {
    color: #9B9B9B;
    font-size: 1rem;
}

.partner-img-50 {
    margin: 0px auto !important;
    width: 30% !important;
}

comment-job-title {
    color: #9B9B9B;
}
.slightly-deep-brown{
    color:#9B9B9B;
}

footer-logo {
    margin-bottom: 5rem;
}
.navbar-toggler-icon{
    outline: none ;
}


.yellow-icon{
    width: 4rem;
}

.card-1-img{
    width: 80%;
    margin: 0 auto;
}
.card-2-img{
    width: 100%;
    margin: 0 auto;
}



@media all and (max-width:768px){

    .partner-img {
        width: 50%;
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    .footer-logo {
        margin-bottom: 3rem;
    }

    .footer-header,
    .footer-logo,
    .footer-list,
    .footer-icon-list {
        text-align: center;
        padding: 0rem;
    }

    .header-img {
        display: none;
    }


    .card-container{
        margin-bottom: 3rem;
    }

    .header-img {
        position: absolute;
        top: 19%;
        right: 10%;
        margin-top: 10%;
        width: 25%;
    }


    .btn {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .partner-img{
        margin-bottom: 3rem;
        width:50%;
    }
    .partner-img-50{
        margin-bottom: 3rem;
    }
    .footer-logo {
        margin-bottom: 3rem;
    }

    .footer-header,
    .footer-logo,
    .footer-list,
    .footer-icon-list ,.footer-sub-text{
        text-align: center;
        padding: 0rem;
    }
    .footer-list,
    .footer-icon-list {
       margin-bottom: 3rem;
    }

    .section-header{

        margin-bottom: 3rem;
    }


}

/*mobile menu */
@media (max-width: 768px) {
    .minimize-menu {
        display: block;
        color: #0A3560;
        position: absolute;
        right: 16%;
        top: 12%;
    }
    .navbar-toggler:focus{
        outline: none;
    }

    .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        bottom: 0;
        background-color: rgba(255,254,250,1);
        padding-top: 6rem;
        z-index: 1000;
        text-align: center;
    }

    .navbar-nav .nav-link {
        margin: 0rem 0rem 1rem 0rem;
    }

}

/* large screen*/
@media screen and (min-width: 1200px){

    .navbar .navbar-brand{
        margin-left: -1rem;
        padding: 0rem;
    }

    /*header {*/
    /*    min-height: 100vh;*/
    /*    padding: 3rem 10rem 5rem 10rem;*/
    /*}*/


}

/* mobile responsiveness */


@media all and (max-width: 599px){

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        position: absolute;
        width: 30px;
        height: 4px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #000;
    }
    #timeline-wrap {
        position: absolute;
        top: 24%;
        left: 12%;
        width: 200px;
        height: 200px;
    }
    .login-form{
        margin-top: 12rem;
        margin-bottom: 10rem;
    }
    .login-section {
        min-height: 100vh;
        position: relative;
    }
    .yellow-gradient{
        background: rgba(255,253,201,0.14);
    }
    .security-img-wrapper img {
        width: 50%;
        padding-top: 2rem;
    }
    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 26px;
        height: 24px;
    }
    .contact-detail-placeholder .chat-whatsapp-img {
        width: 100%;
        height: auto;
    }
    .hamburger-inner {
        top: 50%;
        display: block;
        margin-top: 0px;
    }
    .hamburger.is-active:hover, .hamburger:hover{
        opacity: 1;
    }
    .navbar .navbar-brand{
        margin-left: -1rem;
    }
    header{
        min-height: 500px;
    }

    .header-title {
        font-size: 2rem;
    }



    .navbar .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255,254,250,1);
        padding-top: 6rem;
        z-index: 20000;
        text-align: center;
    }
    .partner-img{
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .partner-img-container {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 0px auto;
    }
    .navbar-nav .nav-link {
        margin: 0rem 0rem 1rem 0rem;
    }
    .header-sub-title{
        font-size: 1rem;
    }

    .footer-list {
        padding-left: 0px;
        text-align: center;
    }

    .header-background {
        padding: 1rem;
        /*height: 600px;*/
        background-image: url("../images/svg/mobile-header-bg.svg");
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 100% -20%;
    }

    .card-container {
        margin-bottom: 5rem;
    }

    .header-img {
        display: none;
    }

    .comment-box {
        padding: 1rem 3rem 1rem 3rem;
        width: 80%;
    }

    .partner-section .section-header img {
        margin-bottom: 3rem;
        margin-top: 2rem;
    }

    .carousel-btn {
        top: 100%;
    }

    .carousel-control-next {
        right: 20%;
        width: 68px;
        height: 30px;
    }

    .carousel-control-prev {
        left: 20%;
        width: 68px;
        height: 30px;
    }

    .comment-box p {
        margin-top: 1rem;
        font-size: .8rem;
    }

    .comment-box .comment {
        left: 70%;
    }

    .footer-logo {
        margin-bottom: 2rem;
    }

    .navbar-toggler,.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        font-size: 0rem;
        padding: 0rem;
        z-index: 30000;
    }

    .navbar-brand {
        margin: 0rem;
        padding: 0rem;
    }

    .navbar-brand img {
        padding-top: .3rem;
    }

    .navbar-toggler-icon {
        font-size: 1.3rem;
    }

    .navbar {
        padding: 0rem;
    }



    .cta-link {
        padding-left: 0rem;
        margin-top: 1rem;
    }

    .navbar-brand img {
        width: 100%;
    }

    .footer-header,
    .footer-logo ,
    .footer-icon-list {
        text-align: center;
    }
    .yellow-icon{
        width: 3rem;
        margin:0rem auto;
    }

    .section-header p,.section-details-header{
        font-size: 1.2rem;
    }
    .section-details-header{
        font-size: 1.3rem;
    }
    .section-details-paragraph {
        color: #9B9B9B;
        font-size: 1.1rem;
        line-height: 2.0rem;
    }

    .yellow-svg{
        display: none;
    }
    .section-transparent-card{
        flex-direction: column;
        align-items: center;
    }

    .section-transparent-card-icon{
        margin-bottom: 1rem;
    }

    .section-header{
        padding-left:2rem;
        padding-right:2rem;
        margin-bottom: 1rem;
    }
    .section-details-paragraph {
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1rem;
    }
    .call-action-section {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card-text{
        font-size: 1.2rem;
    }

    .section-detail-card .yellow-icon{
        display: block;
        margin: 1rem auto;
    }
    .section-transparent-card-right{
        width: 90%;
    }
    .comment-box .thumbnail {
        top: -20%;
        left: 6%;
        width: 80px;
        height: 80px;
    }
    .comment-box h4 {
        font-size: .8rem;

    }

    .comment-box span {
        color: #9B9B9B;
        font-size: .7rem;
        display: block;
    }
    .comment-box .comment {
        left: 70%;
        width: 18%;
        bottom: 8%;
    }
    .light-yellow-backdrop {
        background-color: rgba(255,253,201,0.14);
        min-height: 550px;
    }
}
@media all and (min-width: 600px) and (max-width: 900px){

    .section-transparent-card-right{
        text-align: left !important;

    }
    .yellow-icon-holder{
        text-align: center;
    }
    .yellow-svg{
        display: none;
    }
    .contact-detail-placeholder .chat-whatsapp-img {
        width: 350px;
        height: auto;
    }
    .header-title {
        font-size: 2.5rem;
    }
    .header-sub-title{
        font-size: 1rem;
    }

    .header-background {
        height: 600px;
        background-image: url("../images/svg/mobile-header-bg.svg");
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: right;
    }


    .navbar-toggler,.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
        font-size: 0rem;
        padding: 0rem;
        z-index: 30000;
    }
    .section-details-paragraph {
        color: #9B9B9B;
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .card-text {
        font-size: 1.3rem;
        padding: 0rem 1rem;
        color: #323268;
        font-weight: normal;
        line-height: 1.6rem;
    }
    .card-container .card {
        padding: 2rem 2rem;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
        border-radius: 1rem;
        height: 300px;
        border: 0px;
        width: 90%;
        margin: 0 auto;
    }
    .section-header p {
        color: #0A3560;
        font-size: 1.5rem;
    }
}

@media all and (min-width: 900px) and (max-width: 1200px){
    .header-background {
        padding-bottom: 5rem;
    }
    .header-words-container {
        text-align: left !important;
        padding-right: 30%;
    }
    .contact-detail-placeholder .chat-whatsapp-img {
        width: 350px;
        height: auto;
    }
    .card-container .card {
        padding: 2rem 2rem;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
        border-radius: 1rem;
        height: 300px;
        border: 0px;
        width: 100%;
        margin: 0 auto;
    }
    .card-text {
        font-size: 1.1rem;
        padding: 0rem 0rem;
        color: #323268;
        font-weight: normal;
        line-height: 1.6rem;
    }
    .section-header p {
        color: #0A3560;
        font-size: 1.4rem;
    }

    .comment-box .comment {
        position: absolute;
        bottom: 30px;
        left: 70%;
        width: 13%;
    }
    .btn-padding{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .btn{
        font-size:1rem;
    }

    .section-details-paragraph {
        color: #9B9B9B;
        font-size: 1rem;
        line-height: 1.7rem;
    }

}

@media all and(min-width: 1200px) and (max-width: 1800px) {



}